.aside_right-content-title{
    margin: 33px 0 16px 0;
    font-size: 19px;
}
.list-title_left-border{
    border-left: 1px solid #cdcdcd;
    padding: 0;
}
.list-item_iternal-margin{
    padding: 8px 16px;
    margin: 0;
}