*{
    /* border: 1px solid white; */
}
body{
    background: rgb(27, 27, 27);
    color: #cdcdcd;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}
.wrapper-main-content{
    display: flex;
    justify-content: space-between;

    /* А вот тут плохо.  Блок не должен влиять на свое окружение, т. е. блоку не следует задавать внешнюю геометрию (в виде отступов, границ, влияющих на размеры) и позиционирование.
        Суть блока в том, что если его скопипастить в любое другое место, он встанет и не сломает вёрстку.
        В данном  же случае, если его вставить куда-нибудь он будет всегда фиксированного размера и выровнен по центру, а это в свою очередь не везде нужно (в одном месте он встанет хорошо, а в другом нет) а следовательно, вёрстка сломается.
        Вместо этого, надо создать БЭМ элемент в том месте где у тебя этот класс находится и уже ему задавать эти margin’ы, размеры и тп.

        Есть такое негласное правило/замечание, что использовать width кроме как 100% считается неправильным.
        Тут правильнее было бы задать max-width всему контенту в пикселах (у Mdn 1440px), задать ширину 100%. И в случае чего добавлять отступы по бокам и тп.
        После чего, при помощи gridов распределить место для сайдбаров и основного контента.
        Дам подсказку, у mdn оно вот такое grid-template-columns: minmax(0,1fr) minmax(0,2.5fr) minmax(0,15rem); (можешь найти через девтулзы)
     */
    margin: 0 auto;
    width: 90%;
}
.aside{
    width: 20%;
}
.main{
    width: 55%;
}
span{ /* Опасное дело. Бэм не рекомендует использовать что либо кроме классов. Тут можно создать блок и использовать его везде где нужно*/
    background: #343434;
    border-radius: 0.25rem;
    padding: 2px 4px;
}
