.header-bottom-line{
    margin: 0 0 32px 0;
    display: flex;
    align-items: center;
    display: flex;
    background: #343434;
    width: 100%;
    height: 28px;
    border-bottom: 0.25px solid #cdcdcd;
    border-top: 0.10px solid #cdcdcd;
}
.header-bottom-line__wrapper{
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
.header-bottom-line__consistency{
    display: flex;
    justify-content: space-between;
    width: 330px;
}
.header-bottom-line_link{
    text-decoration: none;
    color: #cdcdcd;
}